<?xml version="1.0"?>

<config>
    <modules>
        <Test_Task>
            <version>0.1.0</version>
        </Test_Task>
    </modules>
    <frontend>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <send_order_data>
                        <type>singleton</type>
                        <class>Test_Task_Model_Observer</class>
                        <method>sendOrderData</method>
                    </send_order_data>
                </observers>
            </sales_order_invoice_pay>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <task>
                                            <title>Test Task</title>
                                        </task>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <test_task>
                <use>admin</use>
                <args>
                    <module>Test_Task</module>
                    <frontName>test_module</frontName>
                </args>
            </test_task>
        </routers>
    </admin>
    <global>
        <helpers>
            <test_task>
                <class>Test_Task_Helper</class>
            </test_task>
        </helpers>
        <models>
            <test_task>
                <class>Test_Task_Model</class>
            </test_task>
        </models>
    </global>
</config>
